/* 

    # Introdução

        ## O que significa CSS?

        * Cascading Style Sheet.
        * Código para estilizar meu html.
        * HTML é a estrutura, e o CSS é o estilo (beleza).
        * Não é uma linguagem de programação.
        * É uma linguagem Style Sheet.

    ## Vamos aos exemplos!


    # Selectors
    - Conecta um elemento HTML com o CSS

    ## Tipos

        * Global selector '*'
        * Element/Type selector ' h1, h2, p, div '
        * ID Selector ' #box, #container '
        * Class Selector ' .red, .m-4 '
        * Atribute selector, Pseudo-class, Pseudo-element, e outros

*/

/* ID selector */
#container {
	width: 200px;
}

/* Class selector */
.m-40 {
	margin: 40px;
}

/* Element/Type selector + Agrupamento de seletores */
h1, h2 {
	color: blue;
	font-size: 60px;
	background: gray;
}